<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/integration"
             xmlns:int-jmx="http://www.springframework.org/schema/integration/jmx"
             xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
             xmlns:jms="http://www.springframework.org/schema/integration/jms"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:amq="http://activemq.apache.org/schema/core"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/integration
                http://www.springframework.org/schema/integration/spring-integration.xsd
                http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
                http://www.springframework.org/schema/integration/jms
                http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
                http://www.springframework.org/schema/integration/jmx
                http://www.springframework.org/schema/integration/jmx/spring-integration-jmx.xsd
                http://www.springframework.org/schema/integration/xml
                http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd
            ">

    <!-- exporting sprint integration services -->
    <beans:bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
        <beans:property name="locateExistingServerIfPossible" value="true"/>
    </beans:bean>

    <int-jmx:mbean-export default-domain="com.jpmc.ib.cdt.clearing.normaliser" server="mbeanServer"/>
    <!-- exporting sprint integration services -->

    <!-- active mq configuration -->
    <amq:queue id="amq.inbound" physicalName="amq.inbound"/>

    <amq:queue id="amq.outbound" physicalName="amq.outbound"/>

    <amq:connectionFactory id="jmsConnectionFactory" brokerURL="vm://localhost?broker.persistent=false"/>

    <beans:bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <beans:property name="connectionFactory" ref="jmsConnectionFactory"/>
        <beans:property name="pubSubDomain" value="false"/>
    </beans:bean>

    <!-- application configuration starts here -->


    <beans:bean id="messageContainer" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <beans:property name="concurrentConsumers" value="1"/>
        <beans:property name="connectionFactory" ref="jmsConnectionFactory"/>
        <beans:property name="destination" ref="amq.inbound"/>
    </beans:bean>

    <jms:message-driven-channel-adapter id="jmsIn"
                                        channel="outbound"
                                        container="messageContainer"/>
    <channel id="inbound"/>
    <channel id="xml-object"/>
    <channel id="outbound"/>

    <!--  xml transformer here -->
    <int-xml:unmarshalling-transformer input-channel="inbound" output-channel="xml-object" unmarshaller="jaxb2Marshaller"/>

    <!-- pair creator here -->




    <!-- gemfire persistor here -->
    <int-xml:marshalling-transformer input-channel="xml-object" output-channel="outbound" marshaller="jaxb2Marshaller" result-type="StringResult"/>

    <jms:outbound-channel-adapter id="jmsOut" connection-factory="jmsConnectionFactory" destination="amq.outbound"
                                  pub-sub-domain="false" channel="outbound"/>


    <beans:bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <beans:property name="contextPath" value="com.jpmc.ib.cdt.clearing.fixml"/>
    </beans:bean>

    <!-- logging wiretap -->
    <wire-tap channel="wiretapChannel" id="messageWiretap" pattern="*"/>

    <logging-channel-adapter id="wiretapChannel" level="INFO"  logger-name="channel wiretap" log-full-message="true" />

    <message-history tracked-components="inbound,xml-object,outbound"/>
</beans:beans>
